<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/puntos.css') }}">
    <link rel="icon" href="static/css/imagenes/icono.ico" type="image/x-icon">
    <title>Consultar Puntos</title>
</head>
<body class="galactic-background">

    <header class="space-header">
        <h1 class="main-title">Consulta de Puntos ViveColombia</h1>
        <p class="sub-title">Tus puntos acumulados hasta el momento</p>
    </header>

    <section class="transaction-section">
        <div class="transaction-form">
            <h2 class="form-header">Puntos Disponibles</h2>
            <p class="form-info">{{ puntos }}</p>

            <!-- Botón para regresar al índice -->
            <a href="{{ url_for('index') }}" class="golden-button">Volver a la Bienvenida</a>
        </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 <strong>Signa-Code</strong>. Todos los derechos reservados.</p>
            <p>Aplicativo bancario móvil para la gestión segura y eficiente de tus finanzas.</p>
        </div>
    </footer>

    
    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>


</body>
</html>
