<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/retirar.css') }}">
    <link rel="icon" href="static/css/imagenes/icono.ico" type="image/x-icon">
    <title>Retirar Dinero</title>
</head>
<body class="galactic-background">

    <header class="space-header">
        <h1 class="main-title">Retiro de Dinero</h1>
        <p class="sub-title">Ingresa la cantidad que deseas retirar</p>
    </header>

    <section class="transaction-section">
        <div class="transaction-form">
            <h2 class="form-header">Monto a Retirar</h2>
            <form action="/retirar" method="POST">
                <label for="monto" class="form-label">Monto</label>
                <input type="number" name="monto" id="monto" class="form-input" required>
                
                <button type="submit" class="submit-btn">Retirar</button>
                
                <!-- Botón de "Volver al inicio" debajo del botón de Retirar -->
                <a href="{{ url_for('home') }}" class="golden-button">Volver a la Bienvenida</a>
            </form>
        </div>
        {% if mensaje %}
            <div class="error-message">{{ mensaje }}</div>
        {% endif %}
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2024 <strong>Signa-Code</strong>. Todos los derechos reservados.</p>
            <p>Aplicativo bancario móvil para la gestión segura y eficiente de tus finanzas.</p>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/animations.js') }}"></script>


</body>
</html>
